<div style="background-color: #3C3B65;">
    <img class="img-fluid"  src="assets/test2.png" alt="" srcset="">
    <div class="container">
        <div class="row m-0 text-center">
            <div class="col-sm col-"></div>
            <div class="col-sm col-4"><img class="img-fluid img" src="assets/footer (6).png" alt=""></div>
            <div class="col-sm col-4"><img class="img-fluid img" src="assets/footer (7).png" alt=""></div>
            <div class="col-sm col-4"><img class="img-fluid img" src="assets/footer (8).png" alt=""></div>
            <div class="col-sm col-"></div>
        </div>
    </div><br>
</div>
<div class="d-sm-none" style="height: 70px; background-color: #3C3B65;">
</div>

