<div style="background-color: #3C3B65;">
    <img class="img-fluid" src="../assets/test3.png" alt="" srcset="">
    <div class="container">
        <div class="row m-0 text-center">
            <div class="col-md"></div>
            <div class="col-md col-xs-2"><img class="img-fluid img" src="../assets/footer (1).png" alt=""></div>
            <div class="col-md col-xs-2"><img class="img-fluid img" src="../assets/footer (2).png" alt=""></div>
            <div class="col-md col-xs-2"><img class="img-fluid img" src="../assets/footer (3).png" alt=""></div>
            <div class="col-md col-xs-2"><img class="img-fluid img" src="../assets/footer (4).png" alt=""></div>
            <div class="col-md col-xs"><img class="img-fluid img" src="../assets/footer (5).png" alt=""></div>
            <div class="col-md"></div>
        </div>
    </div><br>
    
</div>
