    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="d-sm-none">
          <i class="navbar-brand" href="#">
            <img src="../assets/logo.png" style="margin-left: 23px;" alt="BRIOCHE BURGER" width="75" height="70">
          </i>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-center" routerLinkActive="active" href="#"><p class="burger">BURGER</p>BEEF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLinkActive="active" routerLink="/burger" href="#"><p class="burger">BURGER</p>CHICKEN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLinkActive="active" href="#"><p class="burger">BURGER</p>VEGGIE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLinkActive="active" routerLink="/sides" href="#"><p class="test">SIDES</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLinkActive="active" href="#"><p class="test">DRINKS</p></a>
            </li>
            <div class="d-none d-sm-block">
              <i class="navbar-brand" href="#">
                <img src="../assets/logo.png" style="margin-left: 35px;" alt="BRIOCHE BURGER" width="75" height="70" routerLink="/">
              </i>
            </div>          
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/menu" href="#"><p class="test">MENU</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/gallery" href="#"><p class="test">GALLERY</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/contactus" href="#"><p class="test">CONTACT</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="test dropdown">
                  <button class="btn dropdown-toggle act" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ACCOUNT
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <i class="dropdown-item" href="#">Account<hr></i>
                    <i class="dropdown-item" href="#">Orders<hr></i>
                    <i class="dropdown-item" href="#">Delievery Methods<hr></i>
                    <i class="dropdown-item" href="#">Chat and Feedback<hr></i>
                    <i class="dropdown-item" routerLink="/menu">Contact Method<hr></i>
                    <i class="dropdown-item" href="#">Go out</i>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <i class="nav-link" href="google.com">
                <img class="test" style="margin-top: 12px;" src="../assets/cart.jfif" alt="" srcset="" width="30px" height="30px">
              </i>
            </li>
          </ul>
        </div>
      </div>
    </nav> 

<router-outlet></router-outlet>
<div class="footimg">
  <img class="img-fluid" src="../assets/chatbot.jpg.png" alt="" srcset="">
  <img class="float-right img-fluid" src="../assets/socialmedia.png" alt="" srcset="">
</div>
<div class="foot">
  <p style="margin-left: 10px;">Brioche Burger Limited 2020 | Privacy Policy | Term of Use | Cookies</p>
</div>
