.background{
    background-color: #3C3B65;
    color: #D3D4E9;
    padding: 30px;
    text-align: center;
    font-family: 'hero';
}

.container{
color: #3C3B65;
}

.container > h1{
    font-weight: bolder;
}

.btn-info{
    background-color: #3C3B65;
    color: #D3D4E9;
    font-weight: bold;
    font-size: large;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.btn-info {
      font-size: small;
    }
.text-center > h1{
        font-size: larger;
    }
.text-center > p{
        font-size: small;
    }

  }
