<div class="container-fluid background h2">
    CONTACT US
</div>
<br><br>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-7 col-7 right-content text-center">
            <h1 class="text-left">Digital Support</h1>
            <p class="text-left">At Brouche Burger we love to hear form our guests! See below for where to cotact us
                about your digital order. </p>
            <br>
            <button class="btn btn-info w-75">Contact Our Team</button>
        </div>
        <div class="col-md-5 col-5 text-center">
            <img src="assets/contact3.png" class="img-fluid" />
        </div>
    </div>

    <br><br>
    <div class="row align-items-center">
        <div class="col-md-5 col-5 text-center">
            <img src="assets/contact2.png" class="img-fluid shadow" />
        </div>
        <div class="col-md-7 col-7 right-content text-center">
            <h1 class="sm text-left">Restaurant Support</h1>
            <p class="text-left">Have a questions about your recent restaurant visit?<br>Please react out to our restaurant support team below</p>
            <br>
            <button class="btn btn-info w-75">Contact Guest Support</button>
        </div>

    </div>
<br><br>
    <div class="row align-items-center">
        <div class="col-md-7 col-7 right-content text-center">
            <h1 class="text-left">Frequently Asked Questions</h1>
            <p class="text-left">Have question? We have answers!</p>
            <br>
            <button class="btn btn-info w-75">View Our FAQs</button>
        </div>
        <div class="col-md-5 col-5 text-center">
            <img src="assets/contact1.png" class="img-fluid shadow" />
        </div>
    </div>
</div><br><br>